<div class="flex-center max flex-column">
  <section id="conversa" class="grey lighten-2 box-shadow-1 border-rounded-1">
    <article id="container-geral" class="border-rounded-1">
        <header ng-click="abrir_usuarios()" ng-hide="usuarios.length > 2" class="header-conversas position-absolute top-0 w-100 row px-2 flex-center">
          <div class="col s6 flex-center px-0 title-nomes">
            <div class="icon-circle border-rounded"></div>
            <span class="ml-1" ng-bind="usuarios[0].nome | limitTo: 10"></span>
          </div>
          <div class="col s6 flex-center px-0 title-nomes justify-content-end ">
            <span class="mr-1" ng-bind="usuarios[1].nome | limitTo: 10"></span>
            <div class="icon-circle border-rounded amber accent-4"></div>
          </div>
        </header>
        <header ng-click="abrir_usuarios()" ng-show="usuarios.length > 2" class="header-conversas position-absolute top-0 w-100 row px-2 flex-center">
          <div class="col s12 flex-center px-0 title-nomes">
            <span>Grupo</span>
          </div>
        </header>
      <div id="box-mensagens" style=" padding: 0px 10px" class="conteudo">
        <article class="container-mensagens mt-4" style="margin-top: 20px;" ng-repeat="row in conversas.conversa">
          <div class="s12 flex-center" ng-show="row.dia != ''">
            <label class="tag_data">{{row.dia}}</label>
          </div>
          <div class="container-mensagem-linha" ng-repeat="linha in row.conversas.mensagens" ng-class="linha.id == '1'? 'flex-row':'flex-row-reverse'">
            <!-- href="https://api.whatsapp.com/send?phone=5511912345678&text=1" -->
            <a>
              <div class="mensagem-linha-icone" ng-class="linha.id == '1'? 'icone-pessoa-azul':'icone-pessoa-marrom'">
                <div class="icone-pessoa"></div>
              </div>
            </a>
            <div class="mensagem-linha-container-conteudo">
              <div class="conteudo-mensagem" ng-bind="linha.texto" ng-click="copiarMensagem(linha.texto)"></div>
              <div class="conteudo-mensagem-horario">
                <div class="icone-horario" ng-bind="linha.hora" ng-class="linha.id == '1'? 'icone-tag-azul':'icone-tag-marrom'"></div>
              </div>
            </div>
          </div>
        </article>
        <input type="text" style="opacity: 0" id="texto_copiar">
      </div>
      <footer class="footer-conversas position-absolute bottom-0 w-100 p-1 px-2">
        <article class="container-input position-relative">
          <input ng-model="texto_busca" disabled="disabled" data-tooltip="Função ainda não disponível" type="text" placeholder="Pesquisar texto digitado" class="border-rounded white-text light-blue accent-3 px-2 mb-2 w-100" id="buscador">
          <button id="bt-buscador" onclick="Materialize.toast('Função ainda não disponível', 1500, 'rounded')" class="waves-effect waves-light" ng-click="buscar()">
            <i class="fa fa-search"></i>
          </button>
        </article>
      </footer>
    </article>
  </section>
</div>
<!-- menu botao -->
<div class="fixed-action-btn vertical click-to-toggle" id="bt-opcoes">
  <a class="btn-floating light-blue accent-3 btn-large bt-tamanho">
    <i class="large material-icons font-size-2">add</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating light-blue accent-3" disabled="disabled"><i class="material-icons">save</i></a>
    </li>
    <li>
      <a class="btn-floating light-blue accent-3" ng-click="novoUpload()"><i class="material-icons">publish</i></a>
    </li>
  </ul>
</div>
<!-- Modal Structure -->
<div id="users" class="modal bottom-sheet">
  <div class="modal-content">
    <h3>Usuários</h3>
    <p ng-repeat="row in usuarios" ng-bind="row.nome"></p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
  </div>
</div>
